<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.23.18020" newVersion="5.1.23.18020"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup>

  <appSettings>
    <add key="ExcelColumnName" value="序列号,地块号,圈号,界址点号,纵坐标（X）,横坐标（Y）,指向点号,距离"/>
    <add key="ProjectInfoName" value="项目编号,项目名称,委托单位,街道-乡镇,村落-社区,制图人员,检查人员,审核人员,坐标系统,日期(年),日期(月),日期(日)"/>
    <!--默认字体-->
    <add key="DefaultFont" value="宋体"/>
    <!--默认单元格宽度-->
    <add key="DefaultColWidth" value="9.71"/>
    <!--加大单元格宽度-->
    <add key="LargerColWidth" value="15.71"/>
    <!--默认单元格高度-->
    <add key="DefaultRowHeight" value="13.5"/>

    

  </appSettings>
</configuration>
