<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.23.18020" newVersion="5.1.23.18020"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup>

  <appSettings>
    <!--项目信息-->
    <add key="ProjectInfoName" value="项目编号,项目名称,委托单位,街道-乡镇,村落-社区,制图人员,检查人员,审核人员,坐标系统,日期(年),日期(月),日期(日)"/>
    <!--坐标表列名-->
    <add key="ExcelColumnName" value="序列号,地块号,圈号,界址点号,纵坐标（X）,横坐标（Y）,指向点号,距离"/>
    <!--默认字体-->
    <add key="DefaultFont" value="宋体"/>
    <!--默认单元格宽度-->
    <add key="DefaultColWidth" value="9.71"/>
    <!--加大单元格宽度-->
    <add key="LargerColWidth" value="15.71"/>
    <!--默认单元格高度-->
    <add key="DefaultRowHeight" value="13.5"/>
    <!--默认坐标精度-->
    <add key="CoordinatePrecision" value="0.0000"/>
    <!--默认距离精度-->
    <add key="DistencePrecision" value="0.00"/>
    <!--保留面积两位小数-->
    <add key="AreaPrecision" value="2"/>
    <!--多段线重复点距离-->
    <add key="ReduceVertexEpsilon" value="0.01"/>




    <!--<add key="ProjectNumber" value="项目编号"/>
    <add key="ProjectName" value="项目名称"/>
    <add key="ClientName" value="委托单位"/>
    <add key="Street" value="街道-乡镇"/>
    <add key="Village" value="村落-社区"/>
    <add key="Drawer" value="制图人员"/>
    <add key="Checker" value="检查人员"/>
    <add key="Inspector" value="审核人员"/>
    <add key="UCS" value="坐标系统"/>
    <add key="Year" value="日期(年)"/>
    <add key="Month" value="日期(月)"/>
    <add key="Day" value="日期(日)"/>-->
    
    <!--
    internal static string projectNumber = "NZ-2019-001";
    internal static string clientName = "委托单位名称超级长的名称再重复一次委托单位名称超级长的名称再重复一次";
    internal static string projectName = "新桥街道一号路工程超级长的名称再重复一次新桥街道一号路工程超级长的名称再重复一次";
    internal static string year = "二零一九年";
    internal static string month = "九月";
    internal static string day = "十二日";
    internal static string drawer = "黄显强";
    internal static string checker = "林浩";
    internal static string inspector = "邢宏斌";
    internal static string ucs = "国家2000坐标系";
    internal static string street = "郭溪街道";
    internal static string village = "浦北村";
    -->
    
  </appSettings>
</configuration>
